body{
  padding-top: 50px;
  padding-bottom: 20px;
}
h1 em{
  color:#33B1FE;
  font-style: normal;
}

/*nav*/
nav ol{
  padding:0;
  margin:0;
}
nav ol li{
  float:left;
  margin-right:20px;
}
nav a{
  display: inline-block;
  padding: 1.2em 0;
}

.search{
  width: 100%;
  padding: .4em .8em;
  font-size: 3em;
  border-radius: .5em;
  border: #ccc 1px solid;
  -webkit-appearance: none;
  margin: .5em 0;
  transition:all 500ms;
  background-repeat: no-repeat;
  background-position: right .75em center;
}
.search:focus{
  outline:none;
  box-shadow: #33B1FE 0px 0px 9px 4px;
}
#tracking-frame{
  width:100%;
  height:0px;
  border:0;
  transition:height 350ms;
  background-color:#fff;
  border-radius: 1em;
  border:1px solid #ccc;
}
#tracking-frame.active{
  height:500px;
}
#load{
  height:0px;
  transition:height 350ms;
  overflow:hidden;
}
#load.active{
  height:300px;
}
.page-loader{
  background:url('../img/713.gif') no-repeat center;
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 10;
  opacity: 0;
  transition:all 350ms;
  display: none;
  pointer-events: none;
}
.page-loader.active{
  opacity: 1;
  display: block;
}
.data-container{
  padding:25px 15px;
}


/*loading data styles*/
.Instruct td{
  font-weight:bold;
  color:#33B1FE;
}
.colheader{
  font-weight: bold;
  background:rgb(51, 177, 254);
  border-radius: .5em .5em 0 0;
}
table{

}
td{
  padding:5px;
}
.summary{
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.summary tr{
  border-bottom: 1px solid #ccc;
  background:#fff;
}

.recent-container{

}
